.env
.venv/
raw/
processed/
backend-fastAPI/seed/
__pycache__/
.metadata/
*.lock
*.lock_info
*.log
*.ini
*.zip
*.json
!frontend/public/geojson/seoul.json
!frontend/public/geojson/gyeonggi.json
*.snap
